In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 953 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql

link = pymysql.connect(
    host = '0.tcp.jp.ngrok.io',
    user = 'root',
    passwd = '',
    db = 'ai2022-01',
    charset = 'utf8',
    port = 15568,
)
cur = link.cursor()

# 清單
data = [input('請輸入標題:'), input('請輸入描述:'), input('請輸入日期(輸入格式:2000-01-01):'), input('請輸入來源:')]
cur.execute('INSERT INTO `news`(`title`, `description`, `create_date`, `source`) VALUES (%s,%s,%s,%s)', data)
link.commit()

link.close()

請輸入標題:測試自行輸入
請輸入描述:1234567890
請輸入日期(輸入格式:2000-01-01):2022-9-18
請輸入來源:自己輸入

In [ ]:
import pymysql

link = pymysql.connect(
    host = '0.tcp.jp.ngrok.io',
    user = 'root',
    passwd = '',
    db = 'ai2022-01',
    charset = 'utf8',
    port = 15568,
)
cur = link.cursor()

# 字典
data={
    'a': input('請輸入標題:'),
    'b': input('請輸入描述:'),
    'c': input('請輸入日期(輸入格式:2000-01-01):'),
    'd': input('請輸入來源:')
  }
cur.execute('INSERT INTO `news`(`title`, `description`, `create_date`, `source`) VALUES (%(a)s,%(b)s,%(c)s,%(d)s)', data)
link.commit()

link.close()

請輸入標題:123
請輸入描述:456
請輸入日期(輸入格式:2000-01-01):789
請輸入來源:10

In [ ]:
import pymysql

link = pymysql.connect(
    host = '0.tcp.jp.ngrok.io',
    user = 'root',
    passwd = '',
    db = 'ai2022-01',
    charset = 'utf8',
    port = 15568,
)
cur = link.cursor()

cur.execute('SELECT * FROM `news`')
# 查詢
ret = cur.fetchall()
# print(ret)
for i in ret:
  print(i[0], i[1])

link.close()

1 安杰物業突圍出擊 緯育TibaMe助陣打造物業黃埔軍校
2 緯創旗下緯育 推數位轉型講座與規模化培訓課程
3 疫情不必停學緯育TibaMe課程無縫轉線上｜ 蘋果新聞網｜ 蘋果 ...
4 緯育TibaMe就業養成班和你疫起集氣+0
5 緯創子公司緯育培訓班詢問度增| 聯合新聞網
9 aaaa
10 aaaa
11 aaaa
12 aaaa
13 aaaa
14 aaaa
15 測試自行輸入
16 自行輸入2
17 456